$bg-main-color: #020016;
$bg-footer-color: #171346;

$text-main-color: #FFFFFF;
$text-footer-desc: #999d97;

$primary-color: #9700ff;
$success-color: #02bf02;
$blue-color: #1FC7D4;

$white-color: #FFFFFF;

$normal-gap: 15px;

$navbar-height: 108px;
$navbar-bg-color: #020016;

